
   <div class="containerAutor">
    <p class="negrita" id="autorTexto1">Creado por:</p>
    <p id="autorTexto2">Marisa González</p></div>
  <img src="../foto.jpg" width="300" height="300" alt="foto de Perfil">
