body, html{
	height:100%;
	min-height:800px;
	position:relative;
	
}
body{
	margin:0;
}

header {
	background-color: #066;
	width:100%;
	height:25%;
	position:relative;
	
}
header p{
	margin:auto;
	height: 35%;
	
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	text-align:center;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: white;
	
	
}
nav{
	background-color:#CCC;
	width:100%;
	height: 7%;
	text-align:center;
	position:relative;
	
}
nav div{
	display: inline-block;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: #333;
	margin-right: 15px;
	margin-left:15px;
	
	
	
}
.contenedorNAV{
	height: 25px;
	position:absolute;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	margin: auto;
	text-align:center;
}
.contenedorNAV div:hover{
	cursor:pointer;
	color: rgba(0,102,102,0.7);
}

#Actual{
	color: rgba(0,102,102,0.7);
}
footer{
	background-color: #066;
	width:100%;
	height:15%;
	position:absolute;
	bottom: 0;
	text-align:center;
	font-family: 'Lobster', cursive;
	font-size: 25px;
	color: white;
	
}
footer p{
	position: absolute;
	height:30px;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	margin:auto;
}
footer p:hover{
	cursor:pointer;
	color: #999;
}
#GITHUB{
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:25px;
	height:27px;
	top:65%;
	left: 0;
	right:0;
	bottom:0;
	margin:0;
	
}
#GITHUB:hover{
	cursor:pointer;
	color: #999;
}
section{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #333;
	font-size:25px;
	text-align:center;
	height: 47%;
	position:relative;
	overflow: Auto;
}

.negrita{
	font-weight:bold;
	font-size:35px;
	margin-top:60px;
	
}
a{
	color: inherit;
	text-decoration:none;
}
.preguntas{
	font-size: 36px;
	margin-top:60px;
}
.respuesta{
	font-size: 40px;
	margin-top:80px;
	margin-bottom:20px;
}
.respuesta + p{
	color:rgba(0,102,102,1);
	font-size:18px;
	margin-top:0px;
}
.respuesta + p:hover{
	cursor:pointer;
	color: rgba(51,51,51,1);
}

#respuesta{
	font-family: 'Open Sans Condensed', sans-serif;
	color: rgba(51,51,51,0.7);
	font-size:20px;
	width:200px;
	height:30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;
	margin-right:10px;
}

#RespbusquedaP{
	font-family: 'Open Sans Condensed', sans-serif;
	color: rgba(51,51,51,0.7);
	font-size:20px;
	width:200px;
	height:30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;
	margin-right:10px;
}

#RespbusquedaP:focus{
	border: solid 2px rgba(0,102,102,0.7);
	outline:none;
	color: rgba(51,51,51,1);
}


#respuesta:focus{
	border: solid 2px rgba(0,102,102,0.7);
	outline:none;
	color: rgba(51,51,51,1);
}
#bot贸n{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #595959;
	font-size:20px;
	font-weight:bold;
	width:90px;
	height:35px;
	margin-left:10px;
	
	background-color:transparent;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;
}
#bot贸n:hover{
	cursor:pointer;
	border: solid 2px rgba(0,102,102,0.7);
	color: rgba(0,102,102,0.7);
	
}

.bot贸n2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #595959;
	font-size:20px;
	font-weight:bold;
	width:90px;
	height:35px;
	margin-left:10px;
	outline: none;
	text-align: center;
	
	background-color:transparent;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;
}
.bot贸n2:hover{
	cursor:pointer;
	border: solid 2px rgba(0,102,102,0.7);
	color: rgba(0,102,102,0.7);
	
}
.Bcrear{
	width:90px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #595959;
	font-size:20px;
	font-weight:bold;
	margin-left: 10px;
	outline: none;
	text-align: center;
	height: 29px;
	
	background-color:transparent;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;

}
.Bcrear:hover{
	cursor:pointer;
	border: solid 2px rgba(0,102,102,0.7);
	color: rgba(0,102,102,0.7);
	
}

.Beditar{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #595959;
	font-size:15px;
	/*font-weight:bold;*/
	margin-left: -50px;
	outline: none;
	text-align: center;
	height: 25px;
	width: 50px;

	
	background-color:transparent;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border: solid 1px #999;
	background-color: rgba(122,122,122,0.3);

}

.Beditar:hover{
	cursor:pointer;
	border: solid 1px rgba(0,102,102,0.7);
	color: rgba(0,102,102,0.7);
	
}
#Form1, #Form2{
	margin-top: 20px;
	margin-right: 20px;
}

.TextoCrear{
	font-family: 'Open Sans Condensed', sans-serif;
	color: rgba(51,51,51,0.7);
	font-size:20px;
	width:200px;
	height:30px;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: solid 2px #999;
	margin-right:10px;

}
.TextoCrear:focus{
	border: solid 2px rgba(0,102,102,0.7);
	outline:none;
	color: rgba(51,51,51,1);

}



#ErrorMsgs{
	color: red;
}
/*#LinkBotton{
	width:100px;
	height:35px;
	
}*/
.containerAutor{
	width:200px;
	display:inline-block;
	vertical-align:top;
	margin-top:50px;
	margin-right:10px;
}
img{
	margin-top:50px;
}

table{
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;

}
table a:hover{
	color: rgba(0,102,102,1);

}



#columpreguntas{
	
	width: 40%;
}

#tema{
	width: 20%;
	font-size: 20px;
	font-style: italic;
	
}
@media screen and (max-width:600px){
	.containerAutor{
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
	margin-right:10px;
}
img{
	margin-top:15px;
	width:200px;
	height: auto;
}
#autorTexto1{
	margin-bottom:15px;
	font-size:25px;
	width:40%;
	display: inline-block;
	margin-right:5px;
	text-align:right;
	
	
	
} 
#autorTexto2{
	width:40%;
	margin-top: 20px;
	font-size:20px;
	display: inline-block;
	margin-left:5px;
	text-align:left;
	margin-bottom: 0;
	
	
}
}
@media screen and (max-width:500px){
	body{
		min-width:420px;
	}
	header p span{
		display: none;
	}
	header p{
		font-size:100px;
		height:110px;
	}
	
	.containerAutor{
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
	margin-right:10px;
}
img{
	margin-top:15px;
	width:200px;
	height: auto;
}
#autorTexto1{
	margin-bottom:15px;
	font-size:25px;
	width:40%;
	display: inline-block;
	margin-right:5px;
	text-align:right;
	
	
	
} 
#autorTexto2{
	width:40%;
	margin-top: 20px;
	font-size:20px;
	display: inline-block;
	margin-left:5px;
	text-align:left;
	margin-bottom: 0;
	
	
}
	
}
