<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value= "<%= quiz.pregunta %>"class="TextoCrear"/> <br>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value=" <%= quiz.respuesta %>"  class="TextoCrear"/> <br>
<a href="/quizes"><button type="button" class="botón2" id="Form1">Cancelar</button></a>
<input type="submit" value="Salvar" class="botón2" id="Form2">
