
    
    <p class="preguntas">Pregunta: <b><%=pregunta%></b></p>
    <form action="/quizes/answer" method="get">
    <input type="text" value="Responda aquí" name="respuesta" id="respuesta">
    <input id="botón" type="submit" value="Enviar">
    </form>
   

