
    <form method="get" action="/quizes/<%= quiz.id %>/answer">
   <p class="preguntas"> Pregunta: <%= quiz.pregunta %></p>

    <input type="text" value="Respuesta" name="respuesta" id="respuesta">
    <input id="botón" type="submit" value="Enviar">
    </form>
       
